*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-size: 16px;
	color:#000;
}
.light-para{
	color:grey;
	font-size: 0.8rem;
}
img.pnf-illustration{
	height:250px;
	width:250px;
	display: block;
}
.error{
	padding:0.8rem;
	text-align: left;
	background:rgba(204, 0, 51,0.1);
	border-bottom:1px solid rgb(204, 0, 51);
	color:rgb(204, 0, 51);
	text-transform: capitalize;
}
.head{
	height:30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom:1px solid rgb(232, 235, 237);
}
.head h1{
	font-size: 3rem;
	font-weight: bolder;
	text-transform: capitalize;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.search-bars{
	width:100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding:2rem;
	flex-wrap: wrap;
}
.search-bars .search{
	margin-right:1rem;
	border:1px solid lightgrey;
	padding:8px 15px;
	outline:none;
	border-radius: 1rem;
	margin-bottom: 1rem;
}
.refresh-btn{
	padding:8px 15px;
	border:none;
	outline:none;
	background:white;
	color:rgb(131, 58, 242);
	border:2px solid rgb(131, 58, 242);
	transition: all 0.3s;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 1rem;
}
.refresh-btn:hover{
	background:rgb(106, 0, 255);
	color:white;
}
.table,.table table{
	width:95%;
}
.table{
	padding:1rem;
	padding-top: 0;
	max-height: 400px;
	overflow: auto;	
	position: relative;
	margin:0 10px;

}
.table::-webkit-scrollbar{
	background: rgb(232, 235, 237);
	border-radius: 10px;
	width:8px;
	height:8px;
}
.table::-webkit-scrollbar-thumb{
	background: grey;
	border-radius: 10px;
}
.table table thead{
	font-size: 1rem;
	font-weight: bold;
	position: sticky;
	top:0;
	left:0;
	z-index: 3;
	background: white;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.table table tr th,.table table tr td{
	padding:8px;
	border:1px solid rgb(232, 235, 237);
	text-align: left;
	text-transform: capitalize;
}
.occupation-td{
	max-width: 200px;
}
.limit-section{
	border-top:1px solid rgb(232, 235, 237);
	margin: 1rem auto;
	padding-top: 1rem;
}
.limit-section select{
	border:1px solid lightgrey;
	padding:8px 15px;
	margin-left: 1rem;
	outline: none;
}
.limit-section label{
	font-weight: bold;
}
.navigation{
	margin-bottom: 1rem auto;	
	display:flex;
	justify-content: center;
	align-items: center;
	padding:1rem 0 2rem 0;
}
.navigation .page-label{
	color:grey;
	font-size: 0.8rem;
	margin:0 1rem;
}
.nav-btn{
	border:none;
	background:rgb(131, 58, 242);
	padding:8px 15px;
	color:white;
	border-radius: 8px;
	cursor:pointer;
	transition: all 0.3s;
	outline: none;
}
.nav-btn:hover{
	background:rgb(106, 0, 255);
}
.nav-btn[disabled]{
	opacity: 0.5;
	cursor: default;
}
.load{
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index: 4;
	/*background: rgba(0,0,0,0.1);*/
	backdrop-filter:blur(2px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.donutSpinner {
    display: inline-block;
    border: 4px solid hsl(222 100% 95%);
    border-left-color: grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
    to {
        transform: rotate(1turn);
    }
}
.no-match{
	padding:1rem;
	color:rgb(255, 110, 0);
	font-weight: bold;
	text-transform: capitalize;
}
.link{
	color:black;
}
.character-detail{
	position:relative;
	min-height:100vh;
}
.full-error{
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index: 4;
	text-transform: capitalize;
	background: rgba(204, 0, 51,0.1);
	color:rgb(204, 0, 51);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}
.details{
	padding:2rem;
	text-align: left;
}
.head-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding:1rem;
}
.profile-pic{
	margin-bottom: 10px;
	margin-right:10px;
}
.profile-pic img{
	height:250px;
	width:250px;
	border-radius: 50%;
	object-fit: contain;
	border: 2px solid rgb(232, 235, 237);
}
.user-details{
	padding:1rem;
}
.quotes{
	margin-top:20px;
	margin-bottom: 1rem;
}
.quotes h1{
	font-size: 1.8rem;
}
.quote{
	margin-top: 1.2rem;
	padding:8px 15px;
	border-bottom:1px solid rgb(232, 235, 237);
	font-style: italic;
}
.back-btn{
	position: absolute;
	top:15px;
	left:15px;
	background: none;
	border:none;
	outline: none;
	padding:5px 10px;
	border-radius: 20px;
	cursor: pointer;
	background: black;
	color:white;
	transition: all 0.3s;
}
.back-btn:hover{
	background: white;
	border:1px solid black;
	color:black;
}

@media (max-width: 500px){
	.head h1{
		font-size: 2.5rem;
	}
}